
.header{
    text-align: center;
}
header h2{
    
    font-weight: 900;
    font-style: italic;
    text-transform: uppercase;
}

header nav{
    line-height: 50px;
    font-size: 20px;
}
nav a{
    text-decoration: none;
    color: white;
    margin-right: 20px;
    padding: 5px;
} 
nav a:hover{
    background-color: lightblue;
   color: white;
}

